body{
    background-color: aqua;
}

.card{
    margin: 10px;
}
.kennel{
    background-color: lightgreen;
    display: flex;
    flex-flow: wrap;
}
.hospital{
    background-color: rgb(238, 119, 119);
}
.graveyard{
    background-color: lightslategrey;
}

.button-section{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.btn{
    margin:5px;
}
.img-container {
    height: 220px;
    background-size: cover;
    background-position: center;
  }

  .dinoList{
      list-style: none;
      
  }
.modal-body{
    display: flex;
}

.health-status{
    position: relative;
    color: white;
    top:8px;
    text-align: center;
}
.adventureHeader{
    margin-left: auto;
    margin-right: auto;
    text-emphasis: center;
    text-decoration:underline gold;
    text-transform: uppercase;
}