/* body{
    background-color: aqua;
} */
.kennel{
    background-color: lightgreen;
}
.hospital{
    background-color: rgb(238, 119, 119);
}
.graveyard{
    background-color: lightslategrey;
}
.progress-bar{
    background-color: green;
}

.img-container {
    height: 100px;
    background-size: cover;
    background-position: center;
  }